# Environment & Secrets
.env
.env.*
!.env.example

# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Flutter / Dart / Mobile
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.apk
*.aab

# OS & Temp files
.DS_Store
Thumbs.db
*.rar

# IDE & Tooling
.idea/
.vscode/
*.swp
